﻿body {
    padding-top: 70px;
}

.userDetails .form-group {
    margin-bottom: 0px;
}

.navbar {
    .navbar-right.navbar-text {
        margin-right: 0;
    }

    .navbar-brand img {
        height: 30px;
    }

    .active {
        font-weight: bold;
    }

    .navbar-text.center {
    }

    .toolbox-title {
        margin: 0 auto;
        width: 220px;
        display: block;
    }
}


@media (min-width: 768px) {
    .navbar-text {
        margin: 15px auto;
    }
}

@media (min-width: 768px) {
    .navbar-left {
        float: left !important;
    }

    .navbar-right {
        margin-left: auto;
    }

    .navbar-right ~ .navbar-right {
        margin-right: 0;
    }
}

.sonepar-header{
    display:flex;
}

.loader {
    animation: blinker 2s infinite;
    color: black;

    &.loader-fast {
        animation-duration: 500ms;
    }
}

@keyframes blinker {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.bootstrap-checkbox {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bootstrap-checkbox i {
    position: absolute;
    left: -1px;
    top: -1px;
    font-size: 14px;
}


.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset8 {
    margin-top: 60px;
}

.navbar-brand img {
    height: 30px;
}

.tooltip.white {
    .tooltip-inner {
        background-color: white;
        color: black;
        border: 1px solid black;
        white-space: pre;
        max-width: none;
    }
}

.logs-wrapper {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    .logs {
        height: 450px;
        overflow-y: scroll;
        overflow-wrap: break-word;
    }
}
