﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Group deletion</h3>
</div>
<div class="modal-body" id="modal-body">
    <div>
        You are going to delete the Office 365 unified group '{{ctrl.group.Name}}', all dependent ressources will be deleted permanantly.
    </div>
    <div>
        Are you sure you want to delete this group?
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="ctrl.cancel()">Cancel</button>
</div>
