﻿<div class="row">
    <div class="col-md-12" ng-show="true || ctrl.messages">
        <h4>Log of operations for the current session:</h4>
        <div class="logs-wrapper">
            <div class="logs">
                <div ng-repeat="m in ctrl.messages track by $index" ng-class="{'text-warning': (m.severity=='Warning'),'text-danger': (m.severity=='Error'), 'text-success': (m.severity=='Info')}">[{{m.date.format('HH:mm')}}] {{m.message}}</div>
            </div>
        </div>
    </div>
</div>