﻿<style>
    td {
        word-break: break-all;
    }
</style>
<h3>Groups Management</h3>
<div class="row component groupList">
    <div class="col-md-6">
        <div ng-if="ctrl.loading" class="loader blink">Loading office groups...</div>

        <!--<div ng-if="!ctrl.groups" class="loader"></div>-->
        <div ng-if="ctrl.groups">
            <div class="form-inline">
                <div class="form-group ">
                    <label class="sr-only" for="search">Search a group</label>
                    <div class="input-group">
                        <input id="search" type="search" ng-model="ctrl.filter" ng-model-options="{ updateOn: 'default blur', debounce: {blur:0, default:500 } }" class="form-control input-sm col-md-8" placeholder="Search a group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                    </div>
                </div>
                <button type="button" class="btn btn-default btn-sm pull-right" ng-click="ctrl.showCreateForm()" ng-show="!ctrl.isCreateMode">
                    Create a new Office group <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
                <div class="voffset4">
                    <table class="table table-striped table-bordered scroll">
                        <thead>
                            <tr>
                                <th>Delete</th>
                                <th>Edit</th>
                                <th>Name</th>
                                <th>Country</th>
                                <th>Email</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="group in ctrl.groups | filter : ctrl.filter | orderBy: 'DisplayName' track by group.Id" ng-class="{active:group===ctrl.selectedGroup}">
                                <td class="text-center">
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.tryDelete(group)" ng-show="1">
                                        <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.showEditForm(group)">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                </td>
                                <td>
                                    {{group.Name}}
                                </td>
                                <td>{{group.Country | uppercase}}</td>
                                <td>{{group.Mail}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.showMembersForm(group)">
                                        Members <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.showOwnersForm(group)">
                                        Owners <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a id="edit"></a>
    <div ng-if="ctrl.isCreateMode" class="col-md-6">
        <h4>Create an Office Group</h4>
        <form ng-submit="ctrl.groupForm.$valid&&ctrl.sendGroup()" name="ctrl.groupForm">
            <div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="{{ctrl.groupNamePlaceholder}}" ng-model="ctrl.dataGroup.Name" required>
                </div>
                <div class="form-group">
                    <label for="description">Group description</label>
                    <input type="text" class="form-control" name="description" placeholder="Description" ng-model="ctrl.dataGroup.Description" required>
                </div>
                <div class="form-group">
                    <label for="Email">Mail nickname</label>
                    <input type="text" pattern="[a-zA-Z0-9_\.\-]+" class="form-control" name="mailnickname" placeholder="Nickname (no whitespace)" ng-model="ctrl.dataGroup.MailNickname" required>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <select id="country" class="form-control" name="country" ng-model="ctrl.dataGroup.Country" ng-options="string for string in (ctrl.userCountries)" required>
                        <option value=''>Select a country</option>
                    </select>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-12" for="Owner">Owner</label>
                    <div class="col-md-12"><user-picker ng-required="true" name="users" ng-model="ctrl.dataGroup.Owners" size="8" ng-model-options="{allowInvalid:true}"></user-picker></div>
                    <div class="col-md-12 bg-warning" ng-show="ctrl.groupForm.users.$invalid">At least one owner is required</div>
                </div>
                <div class="form-group">
                    <label class="col-md-2" for="visibility">Visibility</label>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input ng-required="true" ng-model="ctrl.dataGroup.Visibility" type="radio" name="visibility" id="visibilityPrivate" value="Private">Private
                        </label>
                        <label class="radio-inline">
                            <input ng-required="true" ng-model="ctrl.dataGroup.Visibility" type="radio" name="visibility" id="visibilityPublic" value="Public">Public
                        </label>
                    </div>
                </div>
            </div>
            <div>
                <button uib-toolip="ctrl.errors" tooltip-class="white" ng-disabled="ctrl.saving" ng-click="submitted=true" type="submit" class="btn btn-primary btn-sm pull-right">
                    <span class="no-animate" ng-show="!ctrl.saving">Create Group</span>
                    <span class="no-animate loader loader-fast" ng-show="ctrl.saving">Saving...</span>
                </button>
                <button type="button" class="btn btn-default btn-sm pull-right" ng-click="ctrl.hideCreateForm()">Cancel</button>
            </div>
        </form>
    </div>
    <div ng-if="ctrl.isEditGroupMode" class="col-md-6">
        <h4>Edit group name</h4>
        <form ng-submit="ctrl.groupEditForm.$valid&&ctrl.saveGroup()" name="ctrl.groupEditForm">
            <div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="{{ctrl.groupNamePlaceholder}}" ng-model="ctrl.selectedGroup.Name" required>
                </div>
            </div>
            <div>
                <button uib-toolip="ctrl.errors" tooltip-class="white" ng-disabled="ctrl.saving" ng-click="submitted=true" type="submit" class="btn btn-primary btn-sm pull-right">
                    <span class="no-animate" ng-show="!ctrl.saving">Save</span>
                    <span class="no-animate loader loader-fast" ng-show="ctrl.saving">Saving...</span>
                </button>
                <button type="button" class="btn btn-default btn-sm pull-right" ng-click="ctrl.hideEditForm()">Cancel</button>
            </div>
        </form>
    </div>
    <div ng-show="ctrl.isMembersMode" class="col-md-6">
        <groupmembers group="ctrl.selectedGroup" on-saved="ctrl.isMemberMode=false"></groupmembers>
    </div>
    <div ng-show="ctrl.isOwnersMode" class="col-md-6">
        <groupowners group="ctrl.selectedGroup" on-saved="ctrl.isOwnerMode=false"></groupowners>
    </div>
</div>

