﻿<style>
    .userFormSeparator{
        height:18px;
    }

    .user-loader{
        background-color: transparent;
        width: 100%;
        padding: 200px;
    }
    .user-loader-title {
         margin: 0 auto;
         width: 140px;
    }
    .lds-ellipsis {
        position: relative;
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #1AB6F1;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
</style>
<div class="col-md-8">
    <form name="ctrl.userForm" ng-submit="ctrl.save()">
            <div class="user-loader" ng-if="ctrl.loading">
                <h3 class="user-loader-title">Loading user</h3>
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
            <h3 ng-if="ctrl.users.length>0 && !ctrl.loading">
                {{ctrl.users.length || "No" }} user{{ctrl.users.length>1&&"s"||""}} selected
                <button class="pull-right btn btn-sm btn-primary" type="submit" ng-disabled="ctrl.saving || !ctrl.userForm.$dirty" ng-if="ctrl.users.length>0">
                    <span class="no-animate" ng-if="!ctrl.saving">Save</span>
                    <span class="no-animate loader" ng-if="ctrl.saving">Saving...</span>
                </button>
            </h3>
            <div ng-if="ctrl.usersCol.length>1" class="userDetails">
                <div class="form-horizontal ">
                    <div class="form-group">
                        <label class="control-label col-md-2">Usage Location</label>
                        <div class="col-md-10">
                            <select ng-required="ctrl.requireCountry()" class="form-control" ng-model="ctrl.UsageLocation" ng-options="opt.Code as opt.Name for opt in ctrl.countries">
                                <option value="">Please choose a country</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="ctrl.users.length===1 && !ctrl.loading" class="userDetails">
                <div class="form-horizontal ">
                    <div class="form-group">
                        <label class="control-label col-md-2">Given Name</label>
                        <div class="col-md-4">
                            <p class="form-control-static">{{ctrl.user.GivenName}}</p>
                        </div>
                        <label class="control-label col-md-2">Family Name</label>
                        <div class="col-md-4">
                            <p class="form-control-static">{{ctrl.user.Surname}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Job Title</label>
                        <div class="col-md-4">
                            <p class="form-control-static">{{ctrl.user.JobTitle}}</p>
                        </div>
                        <label class="control-label col-md-2">Enable</label>
                        <div class="col-md-4">
                            <toggle ng-model="ctrl.user.AccountEnabled" ng-change="ctrl.changedUserStatut()" size="btn-sm" on-class="btn-success" off-class="btn-danger"></toggle>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Mail</label>
                        <div class="col-md-4">
                            <p class="form-control-static">{{ctrl.user.Mail}}</p>
                        </div>
                        <label class="control-label col-md-2">UPN</label>
                        <div class="col-md-4">
                            <p class="form-control-static">{{ctrl.user.UserPrincipalName}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Country</label>
                        <div class="col-md-4">
                            <p class="form-control-static">{{ctrl.user.Country}}</p>
                        </div>
                        <label class="control-label col-md-2">Department</label>
                        <div class="col-md-4">
                            <p class="form-control-static">{{ctrl.user.Department}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">MFA Status</label>
                        <div ng-if="!ctrl.IsLoadingMFAStatut" class="col-md-4">
                            <toggle ng-model="ctrl.IsMFAEnable" ng-change="ctrl.changedUserMFAStatut()" size="btn-sm" on-class="btn-success" off-class="btn-danger"></toggle>
                        </div>
                        <div ng-if="ctrl.IsLoadingMFAStatut" class="col-md-4">
                            <span>Loading...</span>
                        </div>
                    </div>
                    <div class="userFormSeparator">

                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Usage Location</label>
                        <div class="col-md-10">
                            <select ng-required="true" class="form-control" ng-model="ctrl.UsageLocation" ng-options="opt.Code as opt.Name for opt in ctrl.countries">
                                <option value="">Please choose a country</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row voffset2" ng-repeat="lic in ctrl.Licenses | filter : { License : {AppliesTo:'User'} }" ng-if="ctrl.users.length>0 && !ctrl.loading">
                <div class="col-md-7 lead">
                    <span uib-tooltip="{{lic.License.Name}}&#10;&#13;{{lic.License.ConsumedUnits}} / {{lic.License.PrepaidUnitsEnabled}}&#10;&#13;{{lic.License.Id}}" tooltip-class="white">
                        {{lic.License.FriendlyName}}
                    </span>
                </div>
                <div class="col-md-5" ng-if="ctrl.users.length>1">
                    <label class="radio-inline">
                        <input ng-model="lic.IsActive" type="radio" name="l{{$index}}_active" ng-value="true">Add
                    </label>
                    <label class="radio-inline">
                        <input ng-model="lic.IsActive" type="radio" name="l{{$index}}_active" ng-value="false">Remove
                    </label>
                    <label class="radio-inline">
                        <input ng-model="lic.IsActive" type="radio" name="l{{$index}}_active" ng-value="undefined">Unchanged
                    </label>
                </div>
                <div class="col-md-5" ng-if="ctrl.users.length===1"><label><toggle size="btn-xs" onstyle="btn-info" ng-model="lic.IsActive"></toggle></label></div>
                <div class="col-md-12" uib-collapse="lic.IsActive!==true">
                    <div class="row" ng-repeat="prod in lic.License.Services | filter : { Service : {AppliesTo:'User'} } ">
                        <div class="col-md-6 col-md-offset-1">
                            <span uib-tooltip="{{prod.Service.Name}}&#10;&#13;{{prod.Service.Id}}" tooltip-class="white">
                                {{prod.Service.FriendlyName}}
                            </span>
                        </div>
                        <div class="col-md-5">
                            <span ng-if="ctrl.users.length>1">
                                <label class="radio-inline">
                                    <input ng-model="prod.IsActive" type="radio" ng-value="true">Add
                                </label>
                                <label class="radio-inline">
                                    <input ng-model="prod.IsActive" type="radio" ng-value="false">Remove
                                </label>
                                <label class="radio-inline">
                                    <input ng-model="prod.IsActive" type="radio" ng-value="undefined">Unchanged
                                </label>
                            </span>
                            <span ng-if="ctrl.users.length===1">
                                <label><toggle size="btn-xs" onstyle="btn-info" ng-disabled="!lic.IsActive" ng-model="prod.IsActive"></toggle></label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
</form>
</div>
