﻿<style>
    .group-table{
        margin:10px;
    }
    
    .group-table td {
        padding: 4px;
    }
</style>
<h3>Settings</h3>
<div class="row component workspaceList">
    <div class="col-md-1">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">Unregistered elements</a></li>
            <li role="presentation"><a href="#">Licences names</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <h3>Import unregistered objects</h3>
        <div>
            <h4>Groups</h4>
            <table class="group-table">
                <tr>
                    <th>
                    </th>
                    <th>
                        <span>Name</span>
                    </th>
                    <th>
                        <span>language</span>
                    </th>
                    <th>
                        <span>type</span>
                    </th>
                </tr>
                <tr ng-repeat="group in ctrl.groups">
                    <td>
                        <input type="checkbox" aria-label="...">
                    </td>
                    <td>
                        <span>{{group.displayName}}</span>
                    </td>
                    <td>
                        <select class="browser-default custom-select">
                            <option selected>Type</option>
                            <option value="1">teams</option>
                            <option value="2">plan</option>
                            <option value="3">workspace</option>
                        </select>
                    </td>
                    <td>
                        <select class="browser-default custom-select">
                            <option selected>Lang</option>
                            <option value="1">fr</option>
                            <option value="2">en</option>
                        </select>

                    </td>
                </tr>
            </table>
        </div>
        <div>
            <h4>Workspaces</h4>
            <div ng-repeat="ws in ctrl.workspaces">
                <a target="_blank" href="{{ws.Url}}">{{ws.Name}}</a>                
            </div>
        </div>
    </div>
</div>


