﻿<form name="ctrl.teamForm" ng-submit="ctrl.save()">
    <h4>Manage owners of : {{ctrl.team.Name}}</h4>
    <user-picker ng-model="ctrl.users" required="true" with-license="false" size="15" ng-model-options="{allowInvalid:true}"></user-picker>
    <div>
        <button ng-disabled="ctrl.users==null || ctrl.saving || !ctrl.teamForm.$valid" type="submit" class="btn btn-primary btn-sm pull-right">
            <div class="no-animate" ng-show="!ctrl.saving">Save</div>
            <div class="no-animate loader loader-fast" ng-show="ctrl.saving">Saving...</div>
        </button>
        <button type="button" class="btn btn-default btn-sm pull-right" ng-click="ctrl.cancelEdit()&&false">Cancel</button>
    </div>
</form>
