﻿<h3>Teams Management</h3>
<div class="row component teamList">
    <div class="col-md-6">
        <div ng-if="ctrl.loading" class="loader blink">Loading office teams...</div>
        <div ng-if="ctrl.teams">
            <div class="form-inline">
                <div class="form-group ">
                    <label class="sr-only" for="search">Search a team</label>
                    <div class="input-group">
                        <input id="search" type="search" ng-model="ctrl.filter" ng-model-options="{ updateOn: 'default blur', debounce: {blur:0, default:500 } }" class="form-control input-sm col-md-8" placeholder="Search a team">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                    </div>
                </div>
                <button type="button" class="btn btn-default btn-sm pull-right" ng-click="ctrl.showCreateForm()" ng-show="!ctrl.isCreateMode">
                    Create a new team <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
                <div class="voffset4">
                    <table class="table table-striped table-bordered scroll">
                        <thead>
                            <tr>
                                <th>Delete</th>
                                <th>Edit</th>
                                <th>Name</th>
                                <th>Country</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="team in ctrl.teams | filter : ctrl.filter | orderBy: 'DisplayName' track by team.Id" ng-class="{active:team===ctrl.selectedTeam}">
                                <td class="text-center">
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.tryDelete(team)" ng-show="1">
                                        <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                                    </button>

                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.showEditForm(team)">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                </td>
                                <td>{{team.Name}}</td>
                                <td>{{team.Country | uppercase}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.showMembersForm(team)">
                                        Members <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.showOwnersForm(team)">
                                        Owners <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a id="edit"></a>
    <div ng-if="ctrl.isCreateMode" class="col-md-6">
        <h4>Create a team</h4>
        <form ng-submit="ctrl.teamForm.$valid&&ctrl.sendTeam()" name="ctrl.teamForm">
            <div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="{{ctrl.teamNamePlaceholder}}" ng-model="ctrl.dataTeam.Name" required>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <select id="country" class="form-control" name="country" ng-model="ctrl.dataTeam.Country" ng-options="string for string in (ctrl.userCountries)" required>
                        <option value=''>Select a country</option>
                    </select>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-12" for="Owner">Owner</label>
                    <div class="col-md-12"><user-picker ng-required="true" name="users" ng-model="ctrl.dataTeam.Owners" size="8" ng-model-options="{allowInvalid:true}"></user-picker></div>
                    <div class="col-md-12 bg-warning" ng-show="ctrl.teamForm.users.$invalid">At least one owner is required</div>
                </div>
                <div class="form-group">
                    <label class="col-md-2" for="visibility">Visibility</label>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input ng-required="true" ng-model="ctrl.dataTeam.Visibility" type="radio" name="visibility" id="visibilityPrivate" value="Private">Private
                        </label>
                        <label class="radio-inline">
                            <input ng-required="true" ng-model="ctrl.dataTeam.Visibility" type="radio" name="visibility" id="visibilityPublic" value="Public">Public
                        </label>
                    </div>
                </div>
            </div>
            <div>
                <button uib-toolip="ctrl.errors" tooltip-class="white" ng-disabled="ctrl.saving" ng-click="submitted=true" type="submit" class="btn btn-primary btn-sm pull-right">
                    <span class="no-animate" ng-show="!ctrl.saving">Create Team</span>
                    <span class="no-animate loader loader-fast" ng-show="ctrl.saving">Saving...</span>
                </button>
                <button type="button" class="btn btn-default btn-sm pull-right" ng-click="ctrl.hideCreateForm()">Cancel</button>
            </div>
        </form>
    </div>
    <div ng-if="ctrl.isEditMode" class="col-md-6">
        <h4>Edit team name</h4>
        <form ng-submit="ctrl.teamEditForm.$valid&&ctrl.saveTeam()" name="ctrl.teamEditForm">
            <div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="{{ctrl.teamNamePlaceholder}}" ng-model="ctrl.selectedTeam.Name" required>
                </div>
            </div>
            <div>
                <button uib-toolip="ctrl.errors" tooltip-class="white" ng-disabled="ctrl.saving" ng-click="submitted=true" type="submit" class="btn btn-primary btn-sm pull-right">
                    <span class="no-animate" ng-show="!ctrl.saving">Save</span>
                    <span class="no-animate loader loader-fast" ng-show="ctrl.saving">Saving...</span>
                </button>
                <button type="button" class="btn btn-default btn-sm pull-right" ng-click="ctrl.hideEditForm()">Cancel</button>
            </div>
        </form>
    </div>
    <div ng-show="ctrl.isMembersMode" class="col-md-6">
        <teammembers team="ctrl.selectedTeam" on-saved="ctrl.isMemberMode=false"></teammembers>
    </div>
    <div ng-show="ctrl.isOwnersMode" class="col-md-6">
        <teamowners team="ctrl.selectedTeam" on-saved="ctrl.isOwnerMode=false"></teamowners>
    </div>
</div>

