﻿<div class="component userList row">
    <div class="col-md-4">
        <h3>
            License management
            <button ng-if="ctrl.isCurrentUserLicenceManager" class="btn" ng-click="ctrl.editLicences()"><i class="glyphicon glyphicon-cog"></i>Edit</button>
        </h3>
        <div ng-if="ctrl.loading" class="loader blink">Loading users</div>
        <!--<div ng-if="ctrl.inited">-->
            <div>
                <div class="form-group ">
                    <label class="sr-only" for="search">Search</label>
                    <div class="input-group">
                        <input id="search" type="search" ng-model="ctrl.filter" ng-model-options="{ updateOn: 'default blur', debounce: {blur:0, default:500 } }" class="form-control input-sm col-md-8" placeholder="Search a user">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Users
                        <label class="radio-inline">
                            <input type="radio" ng-model="ctrl.licensed" ng-value="true">with license
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="ctrl.licensed" ng-value="false">without license
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="ctrl.licensed" ng-value="null">all
                        </label>
                        <button class="btn btn-default btn-sm pull-right" ng-click="ctrl.refresh()">Refresh</button>
                    </div>
                </div>
                <div class="form-group voffset1">
                    <select class="form-control " ng-change="ctrl.onUserSelection()" multiple size="25" ng-model="ctrl.selectedUsers"
                            ng-options="ctrl.formatUser(user) for user in (ctrl.users  | filter : ctrl.matchUser.bind(ctrl) | orderBy: 'DisplayName') track by user.Id"></select>
                </div>
            </div>
        </div>
    <license users="ctrl.selectedUsers" LicensesRef="ctrl.LicensesRef"></license>
    <div ng-if="ctrl.isEditLicenceNamesMode" class="col-md-6">

        <h1>Edit Licences names</h1>
        <div style="float:right">
            <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.CancelEditLicences()">
                Cancel
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.saveUpdatedLicences()">
                <span class="no-animate" ng-show="!ctrl.savingLicenceNames">Save</span>
                <span class="no-animate loader loader-fast" ng-show="ctrl.savingLicenceNames">Saving...</span>
            </button>
        </div>
       
        <div ng-repeat="licence in ctrl.licencesFriendlyNames">
            <table class="table table-sm">
                <tr>
                    <td><h4>{{licence.Name}}</h4></td>
                    <td>
                        <input class="form-control" type="text" ng-change="ctrl.translationChanged(licence)" ng-model="licence.FriendlyName">
                    </td>
                </tr>
            </table>
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Friendly name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="service in licence.services">
                        <td scope="row">{{service.Name}}</td>
                        <td>
                            <input class="form-control" type="text" ng-change="ctrl.translationChanged(service)" ng-model="service.FriendlyName">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
