﻿<div class="row">
    <div class="col-md-12">
        <div class="input-group ">
            <input id="search" type="search" ng-model="search" ng-model-options="{ updateOn: 'default blur', debounce: {blur:0, default:500 } }" class="form-control input-sm col-md-8" placeholder="{{ctrl.ownerPlaceHolder}}">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        </div>
    </div>
    <div class="col-xs-5">
        <select class="form-control" multiple ng-attr-size="{{ctrl.pickerSize}}" ng-model="ToAddOwners" ng-options="item as item.DisplayName for item in ctrl.users | filter: ctrl.matchUser(search) | orderBy: 'DisplayName' track by item.Id" />
    </div>
    <div class="col-xs-2">
        <div class="text-center " ng-class="{ voffset4 : ctrl.pickerSize < 10, voffset8 : ctrl.pickerSize>=10}" >
            <button ng-disabled="ctrl.users==null || ctrl.selection==null" ng-click="ctrl.addOwners(ToAddOwners) && false" type="button" class="btn btn-sm"><i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
        <div class="text-center voffset1">
            <button ng-disabled="ctrl.users==null || ctrl.selection==null" ng-click="ctrl.removeOwners(ToRemoveOwners) && false" type="button" class="btn btn-sm"><i class="glyphicon glyphicon-chevron-left"></i></button>
        </div>
    </div>
    <div class="col-xs-5">
        <select class="form-control" multiple ng-attr-size="{{ctrl.pickerSize}}" ng-model="ToRemoveOwners" ng-options="item as item.DisplayName for item in ctrl.selection | orderBy: 'DisplayName' track by item.Id" />
    </div>
</div>
