﻿<h3>SharePoint Workspaces Management</h3>
<div class="row component workspaceList">
    <div class="col-md-6">
        <div ng-if="ctrl.loading" class="loader blink">Loading office workspaces...</div>
        <div ng-if="ctrl.workspaces">
            <div class="form-inline">
                <div class="form-group ">
                    <label class="sr-only" for="search">Search a workspace</label>
                    <div class="input-group">
                        <input id="search" type="search" ng-model="ctrl.filter" ng-model-options="{ updateOn: 'default blur', debounce: {blur:0, default:500 } }" class="form-control input-sm col-md-8" placeholder="Search a workspace">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                    </div>
                </div>
                <button type="button" class="btn btn-default btn-sm pull-right" ng-click="ctrl.showCreateForm()" ng-show="!ctrl.isCreateMode">
                    Create a new workspace <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
                <div class="voffset4">
                    <table class="table table-striped table-bordered scroll">
                        <thead>
                            <tr>
                                <th>Delete</th>
                                <th>Edit</th>
                                <th>Name</th>
                                <th>Country</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="workspace in ctrl.workspaces | filter : ctrl.filter | orderBy: 'DisplayName' track by workspace.Id" ng-class="{active:workspace===ctrl.selectedWorkspace}">
                                <td class="text-center">
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.tryDelete(workspace)" ng-show="1">
                                        <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                                    </button>

                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.showEditForm(workspace)">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                </td>
                                <td><a href="{{workspace.Url}}" target="_blank">{{workspace.Name}}</a></td>
                                <td>{{workspace.Country | uppercase}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.showOwnersForm(workspace)">
                                        Owners <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a id="edit"></a>
    <div ng-if="ctrl.isCreateMode" class="col-md-6">
        <h4>Create a workspace</h4>
        <form ng-submit="ctrl.workspaceForm.$valid&&ctrl.sendWorkspace()" name="ctrl.workspaceForm">
            <div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="{{ctrl.workspaceNamePlaceholder}}" ng-model="ctrl.dataWorkspace.Name" required>
                </div>
                <div class="form-group">
                    <label for="name">Description</label>
                    <input type="text" class="form-control" name="name" placeholder="Description" ng-model="ctrl.dataWorkspace.Description" required>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <select id="country" class="form-control" name="country" ng-model="ctrl.dataWorkspace.Country" ng-options="string for string in (ctrl.userCountries)" required>
                        <option value=''>Select a country</option>
                    </select>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-12" for="Owner">Owner</label>
                    <div class="col-md-12"><user-picker ng-required="true" name="users" ng-model="ctrl.dataWorkspace.Owners" size="8" ng-model-options="{allowInvalid:true}"></user-picker></div>
                    <div class="col-md-12 bg-warning" ng-show="ctrl.workspaceForm.users.$invalid">At least one owner is required</div>
                </div>
                <div class="form-group">
                    <label class="col-md-2" for="visibility">Visibility</label>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input ng-required="true" ng-model="ctrl.dataWorkspace.Visibility" type="radio" name="visibility" id="visibilityPrivate" value="Private">Private
                        </label>
                        <label class="radio-inline">
                            <input ng-required="true" ng-model="ctrl.dataWorkspace.Visibility" type="radio" name="visibility" id="visibilityPublic" value="Public">Public
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="language">Language</label>
                <select id="language" class="form-control" name="language" ng-model="ctrl.dataWorkspace.Lcid" required>
                    <option value=''>Select a language</option>
                    <option ng-repeat="option in ctrl.languages" value="{{option.key}}">{{option.value}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="timezone">Time zone</label>
                <select id="timezone" class="form-control" name="timezone" ng-model="ctrl.dataWorkspace.TimeZoneId" required>
                    <option value=''>Select a time zone</option>
                    <option ng-repeat="option in ctrl.timeZoneList" value="{{option.Id}}">{{option.Description}}</option>
                </select>
            </div>
            <div>
                <button uib-toolip="ctrl.errors" tooltip-class="white" ng-disabled="ctrl.saving" ng-click="submitted=true" type="submit" class="btn btn-primary btn-sm pull-right">
                    <span class="no-animate" ng-show="!ctrl.saving">Create Workspace</span>
                    <span class="no-animate loader loader-fast" ng-show="ctrl.saving">Saving...</span>
                </button>
                <button type="button" class="btn btn-default btn-sm pull-right" ng-click="ctrl.hideCreateForm()">Cancel</button>
            </div>
        </form>
    </div>
    <div ng-if="ctrl.isEditMode" class="col-md-6">
        <h4>Edit workspace name</h4>
        <form ng-submit="ctrl.workspaceEditForm.$valid&&ctrl.saveWorkspace()" name="ctrl.workspaceEditForm">
            <div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="{{ctrl.workspaceNamePlaceholder}}" ng-model="ctrl.selectedWorkspace.Name" required>
                </div>
            </div>
            <div>
                <button uib-toolip="ctrl.errors" tooltip-class="white" ng-disabled="ctrl.saving" ng-click="submitted=true" type="submit" class="btn btn-primary btn-sm pull-right">
                    <span class="no-animate" ng-show="!ctrl.saving">Save</span>
                    <span class="no-animate loader loader-fast" ng-show="ctrl.saving">Saving...</span>
                </button>
                <button type="button" class="btn btn-default btn-sm pull-right" ng-click="ctrl.hideEditForm()">Cancel</button>
            </div>
        </form>
    </div>
    <div ng-show="ctrl.isMembersMode" class="col-md-6">
        <workspacemembers workspace="ctrl.selectedWorkspace" on-saved="ctrl.isMemberMode=false"></workspacemembers>
    </div>
    <div ng-show="ctrl.isOwnersMode" class="col-md-6">
        <workspaceowners workspace="ctrl.selectedWorkspace" on-saved="ctrl.isOwnerMode=false"></workspaceowners>
    </div>
</div>

